body{
    margin: 0;
}

header {
    display:flex;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #8E44AD;
    overflow: hidden;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    top: 0;

    & > a > h2 {
        color: white;
        letter-spacing: 2px;
        font-size: 30px;
        font-style: italic;
        margin-left: 2rem;
    }

    & > nav {
        display: flex;
        gap: 2.5rem;
        margin-right: 2rem;  

            & > a > button {
                display: flex;
                color: black;
                text-decoration: none;
            }
    }  
    & > .hamburger {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
        display: none;
    }
}

header.scrolled{
    background-color: red;
}

.section1{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../img/Modern\ Retro\ p\ 35_François\ du\ Chatenet.webp);
    background-size: cover;
    background-position: center;
    flex-direction: row;

    & > .left-container {
        display: flex;
        justify-content: center;
        align-items: center;    
        height: 100%;
        width: 50%;
        background-color: rgba(245, 245, 245, 0.466);
        box-shadow: 1px 1px 15px rgb(61, 61, 61);
        flex-direction: row;
        font-family: Arial, Helvetica, sans-serif;
        
        & > h2{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-weight: 900;
            font-size: 70px;
            color: rgb(255, 4, 209);
            margin-bottom: 0;
            height: 40vh;
        }
        & > h1{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            font-weight: 900;
            font-size: 80px;
            color: rgb(251, 255, 4);
            margin-left: 2rem;
        }
    }

    & > .right-container{
        display: flex;
        width: 50%;
    }
}


* {
    outline: 1px solid green    ;
}













/* Responsive for smaller screens */
@media only screen and (max-width: 700px) {
    header{ 
        display: flex;
        width: 100%;
        height: 70px;
        position: fixed;
        /* background-color: #8E44AD; */
        background-color: transparent;
        overflow: hidden;

        & > nav {
            display: flex;
            width: 60%;
            height: 100%;
            gap: 3rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            inset: 0;
            background-color: rgba(245, 245, 245, 0.28);
            transform: translateX(180%);    
            transition: transform 400ms ease;
            z-index: -1;   
                
                & > a > button {
                    display: flex;
                    font-size: 20px;
                }
        }
        & > nav.show {
            transform: translateX(70%);
        }
        & >  .hamburger {
            display: block;
            position: relative;
        }
    }
}
